<!-- <div class="col-12 mb-3"  style="display: flex; justify-content: flex-end;">
  <button type="submit" class="btn btn-primary" routerLinkActive="active" routerLink="">Home</button>
  <button type="submit" class="btn btn-primary" routerLinkActive="active" routerLink="/new">Novo</button>
</div> -->
<!-- <div class="col-12">
  <app-add-ingredient></app-add-ingredient>
</div> -->
<div class="col-12">
  <ul class="mt-3">
    <ng-container *ngIf="list$ | async as ingredients">
      <li *ngFor="let ingredient of ingredients" class="mt-3">
        <span>{{ ingredient.quantity }}</span> -
        <strong>{{ ingredient.name }}</strong>
        <button
          class="btn btn-sm btn-danger ms-2"
          (click)="removeItem(ingredient.id)"
          *ngIf="(user$ | async)?.acesso?.includes('ADMIN')">
          Remove
        </button>
        <button
          class="btn btn-sm btn-warning ms-2"
          (click)="editarItem(ingredient)"
          routerLinkActive="active"
          routerLink="/edit"
          *ngIf="(user$ | async)?.acesso?.includes('ADMIN')">
          Edit
        </button>
      </li>
    </ng-container>
  </ul>
</div>
